<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>{{title}}</title>
</head>
<body class="bg-black">

    <div class=" md:max-w-3xl lg:max-w-7xl m-auto">
        <div class="grid grid-cols-4">
            <!-- left start -->
            <div class="px-3 col-span-1">
                <div class="sticky top-3">
                    <div class="flex flex-col h-screen">

                        <!-- top start -->
                        <div class="grid gap-y-3 w-10/12">
                            <!-- twitter logo start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-icons-blue-bg-hover rounded-full p-3 w-fit">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                            </div>
                            <!-- twitter logo end -->

                            <!-- home start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_bold_txt" class="text-20 invisible md:visible font-bold text-twitter-light-grey">Home</span>
                            </div>
                            <!-- home end -->

                            <!-- explore start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">Explore</span>
                            </div>
                            <!-- explore end -->

                            <!-- notifications start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">Notifications</span>
                            </div>
                            <!-- notifications end -->

                            <!-- messages start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">Messages</span>
                            </div>
                            <!-- messages end -->

                            <!-- bookmarks start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">Bookmarks</span>
                            </div>
                            <!-- bookmarks end -->

                            <!-- profile start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">Profile</span>
                            </div>
                            <!-- profile end -->

                            <!-- more start -->
                            <div class="flex items-center gap-2 lg:gap-6 hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-8 h-8 text-twitter-light-grey">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                                </svg>
                                <span id="lg_light_txt" class="text-20 invisible md:visible text-twitter-light-grey">More</span>
                            </div>
                            <!-- more end -->

                            <button id="button" class="text-17 invisible md:visible mt-2 font-bold text-twitter-light-grey px-4 py-4 rounded-full bg-twitter-blue-original">Tweet</button>
                        </div>
                        <!-- top end -->

                        <!-- bottom start -->
                        <div class="bottom-0 mt-auto pb-3">
                            <div class="hover:cursor-pointer hover:bg-twitter-dark-hover rounded-full p-3">
                                <div class="flex justify-between w-full items-center">
                                    <!-- left start -->
                                    <div class="flex items-center gap-2 lg:gap-4">
                                        <div>
                                            <img src="/images/avatars/9710eebde79f4e7b9a1873b4bf1c9792.jpg" class="w-10 rounded-full" alt="">
                                        </div>

                                        <div class="invisible md:visible text-left">
                                            <p id="sm_light_bold_txt" class="text-15 font-bold text-twitter-light-grey">Username</p>
                                            <p id="dark_txt" class="text-15 text-twitter-grey">@username</p>
                                        </div>
                                    </div>
                                    <!-- left end -->

                                    <!-- right start -->
                                    <div class="invisible md:visible">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-twitter-grey">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                        </svg> 
                                    </div>
                                    <!-- right end -->
                                </div>
                            </div>
                        </div>
                        <!-- bottom end -->
                    </div>
                </div>
            </div>
            <!-- left end -->

            <!-- middle start -->
            <div class="border-x border-twitter-line col-span-3 lg:col-span-2">
                <!-- home start -->
                <div class="sticky bg-black bg-opacity-70 top-0 backdrop-blur-lg">
                    <p id="lg_light_bold_txt" class="text-20 font-bold text-twitter-light-grey px-4 py-3">Home</p>
                    <div class="flex justify-around text-center">
                        <a id="sm_light_bold_txt" href="" class="text-15 font-bold text-twitter-light-grey w-full hover:backdrop-brightness-125 p-5"><span class="border-b-4 pb-4 border-twitter-blue-original">For you</span></a>
                        <a id="dark_semibold_txt" href="" class="text-15 font-semibold text-twitter-grey w-full hover:backdrop-brightness-125 p-5">Following</a>
                    </div>
                </div>
                <!-- home end -->

                <!-- what's happening start -->
                <div class="border-t border-twitter-line px-3 lg:px-5 py-3">
                    <div class="inline-flex w-full gap-4">

                        <!-- user avatar start -->
                        <div class="grid place-items-start">
                            <img src="/images/avatars/9710eebde79f4e7b9a1873b4bf1c9792.jpg" class="w-14 rounded-full" alt="">
                        </div>
                        <!-- user avatar end -->
                        
                        <!-- tweet start -->
                        <div class="w-full pt-2">
                            <textarea id="lg_light_txt" class="text-20 text-twitter-light-grey w-full placeholder-twitter-grey bg-inherit outline-none" placeholder="What's happening?"></textarea>

                            <!-- icons start -->
                            <div class="flex items-center pt-3"> 
                                <div class="gap-2 lg:gap-4 flex">
                                    <!-- media start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg>
                                    <!-- media end -->

                                    <!-- gif start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 8.25v7.5m6-7.5h-3V12m0 0v3.75m0-3.75H18M9.75 9.348c-1.03-1.464-2.698-1.464-3.728 0-1.03 1.465-1.03 3.84 0 5.304 1.03 1.464 2.699 1.464 3.728 0V12h-1.5M4.5 19.5h15a2.25 2.25 0 002.25-2.25V6.75A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25v10.5A2.25 2.25 0 004.5 19.5z" />
                                    </svg> 
                                    <!-- gif end -->
                                    
                                    <!-- poll start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                                    </svg> 
                                    <!-- poll end -->

                                    <!-- emoji start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15.182 15.182a4.5 4.5 0 01-6.364 0M21 12a9 9 0 11-18 0 9 9 0 0118 0zM9.75 9.75c0 .414-.168.75-.375.75S9 10.164 9 9.75 9.168 9 9.375 9s.375.336.375.75zm-.375 0h.008v.015h-.008V9.75zm5.625 0c0 .414-.168.75-.375.75s-.375-.336-.375-.75.168-.75.375-.75.375.336.375.75zm-.375 0h.008v.015h-.008V9.75z" />
                                    </svg>
                                    <!-- emoji end -->

                                    <!-- schedule start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                    <!-- schedule end -->

                                    <!-- location start -->
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5 text-twitter-blue-original hover:cursor-pointer opacity-50">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                    </svg>  
                                    <!-- location end -->                    
                                </div>
                                <!-- icons end -->
                                
                                <button id="button" class="text-15 font-bold px-4 py-1.5 rounded-full ml-auto text-twitter-light-grey bg-twitter-blue-original opacity-50">Tweet</button>                                                      
                            </div>
                        </div>
                        <!-- tweet end -->
                    </div>
                </div>
                <!-- what's happening end -->

                <!-- tweet start -->
                <div class="border-t border-twitter-line px-3 lg:px-5 py-3.5">
                    <div class="inline-flex w-full gap-3">

                        <!-- left (user avatar + data) start -->
                        <div class="grid place-items-start">
                            <img class="w-14 rounded-full" src="/images/avatars/046d38ab9a094b8fb4993d9e2f2131b6.jpg" alt="">
                        </div>
                        <!-- left (user avatar + data) end -->
                        
                        <!-- right start -->
                        <div class="w-full">

                            <!-- username + data start -->
                            <div class="flex justify-between">
                                <div class="inline-flex items-center gap-1 lg:gap-1.5">
                                    <p id="sm_light_bold_txt" class="text-15 font-bold text-twitter-light-grey hover:bg-twitter-icons-blue-bg-hover hover:underline hover:cursor-pointer">Username</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#1DA1F2" d="m6.7 19.3l-2.75-.6q-.375-.075-.6-.388q-.225-.312-.175-.687L3.45 14.8l-1.875-2.15q-.25-.275-.25-.65t.25-.65L3.45 9.2l-.275-2.825q-.05-.375.175-.687q.225-.313.6-.388l2.75-.6l1.45-2.45q.2-.325.55-.425q.35-.1.7.025l2.6 1.1l2.6-1.1q.35-.125.7-.025t.55.425L17.3 4.7l2.75.6q.375.075.6.388q.225.312.175.687L20.55 9.2l1.875 2.15q.25.275.25.65t-.25.65L20.55 14.8l.275 2.825q.05.375-.175.687q-.225.313-.6.388l-2.75.6l-1.45 2.45q-.2.325-.55.425q-.35.1-.7-.025l-2.6-1.1l-2.6 1.1q-.35.125-.7.025t-.55-.425Zm3.55-4.45q.275.275.7.275q.425 0 .7-.275l4.25-4.25q.3-.3.3-.713q0-.412-.3-.712t-.712-.3q-.413 0-.713.3L10.95 12.7L9.5 11.275q-.3-.275-.712-.263q-.413.013-.688.288q-.275.275-.275.7q0 .425.275.7Z"/></svg>  
                                    <p id="dark_txt" class="text-15 text-twitter-grey">@username</p>
                                    <p id="dark_txt" class="text-15 text-twitter-grey">∙</p>
                                    <p id="dark_txt" class="text-15 text-twitter-grey hover:underline hover:cursor-pointer">date</p>
                                </div>

                                <!-- more start -->
                                <div class="flex items-center hover:bg-twitter-icons-blue-bg-hover rounded-full hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-twitter-grey hover:text-twitter-blue-original">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                    </svg> 
                                </div>
                                <!-- more end -->
                            </div>
                            <!-- username + data end -->

                            <!-- tweet message start -->
                            <p id="sm_light_txt" class="text-15 text-twitter-light-grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veritatis odit, quod consequatur debitis dolore!</p>
                            <!-- tweet message end -->

                            <!-- tweet image start -->
                            <div class="py-3.5">
                                <img class="max-h-80 w-full object-cover object-center rounded-2xl border border-twitter-line hover:cursor-pointer" src="/images/ladygaga/67ed34300fa640c38cfc5d01d4d8cca3.jpg" alt="">
                            </div>
                            <!-- tweet image end -->

                            <!-- icons start -->
                            <div class="flex items-center justify-between text-twitter-light-grey lg:w-10/12">
                                <!-- comments start -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer stroke-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#474747" d="M12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- comments end -->

                                <!-- retweets start FIND NY!!!! -->
                                <div class="flex items-center gap-1 lg:gap-2 text-twitter-icons-green group hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 528 448"><path fill="#474747" d="m486 154l-30 21v-68q0-35-25-60.5T371 21H157q-35 0-60 25.5T72 107q0 9 6 15t15 6q10 0 16-6t6-15q0-18 12.5-30.5T157 64h214q17 0 29.5 12.5T413 107v66l-30-22q-19-11-29 7q-12 19 6 30l75 47l76-47q17-11 7-30q-15-15-32-4zm-51 102q-10 0-16 6t-6 15q0 18-12.5 30.5T371 320H157q-17 0-29.5-12.5T115 277v-66l30 22q2 0 6 1t6 1q8 0 17-9q12-19-6-30l-75-47l-76 47q-17 11-7 30q11 17 30 7l30-22v66q0 35 25 60.5t60 25.5h214q35 0 60-25.5t25-60.5q1-9-4.5-15t-14.5-6z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- retweets end -->

                                <!-- likes start FIND NY!!!! -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="none" stroke="#474747" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3s-5 3-5 3s-2.239-3-5-3Z"/></svg>                          
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- likes end -->

                                <!-- views start -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="#474747" d="M6 13H2c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h4c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1zm16-4h-4c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V10c0-.6-.4-1-1-1zm-8-8h-4c-.6 0-1 .4-1 1v20c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- views end -->

                                <!-- share start -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="none" stroke="#474747" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 3v12m0-12L8 7m4-4l4 4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"/></svg>
                                <!-- share end -->
                            
                            </div>
                            <!-- icons end -->
                        </div>
                        <!-- right end -->
                    </div>
                </div>
                <!-- tweet end -->

                <!-- tweet start -->
                <div class="border-t border-twitter-line px-3 lg:px-5 py-3.5">
                    <div class="inline-flex w-full gap-3">

                        <!-- left (user avatar + data) start -->
                        <div class="grid place-items-start">
                            <img class="w-14 rounded-full" src="/images/avatars/046d38ab9a094b8fb4993d9e2f2131b6.jpg" alt="">
                        </div>
                        <!-- left (user avatar + data) end -->
                        
                        <!-- right start -->
                        <div class="w-full">

                            <!-- username + data start -->
                            <div class="flex justify-between">
                                <div class="inline-flex items-center gap-1 lg:gap-1.5">
                                    <p id="sm_light_bold_txt" class="text-15 font-bold text-twitter-light-grey hover:bg-twitter-icons-blue-bg-hover hover:underline hover:cursor-pointer">Username</p>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#1DA1F2" d="m6.7 19.3l-2.75-.6q-.375-.075-.6-.388q-.225-.312-.175-.687L3.45 14.8l-1.875-2.15q-.25-.275-.25-.65t.25-.65L3.45 9.2l-.275-2.825q-.05-.375.175-.687q.225-.313.6-.388l2.75-.6l1.45-2.45q.2-.325.55-.425q.35-.1.7.025l2.6 1.1l2.6-1.1q.35-.125.7-.025t.55.425L17.3 4.7l2.75.6q.375.075.6.388q.225.312.175.687L20.55 9.2l1.875 2.15q.25.275.25.65t-.25.65L20.55 14.8l.275 2.825q.05.375-.175.687q-.225.313-.6.388l-2.75.6l-1.45 2.45q-.2.325-.55.425q-.35.1-.7-.025l-2.6-1.1l-2.6 1.1q-.35.125-.7.025t-.55-.425Zm3.55-4.45q.275.275.7.275q.425 0 .7-.275l4.25-4.25q.3-.3.3-.713q0-.412-.3-.712t-.712-.3q-.413 0-.713.3L10.95 12.7L9.5 11.275q-.3-.275-.712-.263q-.413.013-.688.288q-.275.275-.275.7q0 .425.275.7Z"/></svg>  
                                    <p id="dark_txt" class="text-15 text-twitter-grey">@username</p>
                                    <p id="dark_txt" class="text-15 text-twitter-grey">∙</p>
                                    <p id="dark_txt" class="text-15 text-twitter-grey hover:underline hover:cursor-pointer">date</p>
                                </div>

                                <!-- more start -->
                                <div class="flex items-center hover:bg-twitter-icons-blue-bg-hover rounded-full hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-twitter-grey hover:text-twitter-blue-original">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                                    </svg> 
                                </div>
                                <!-- more end -->
                            </div>
                            <!-- username + data end -->

                            <!-- tweet message start -->
                            <p id="sm_light_txt" class="text-15 text-twitter-light-grey">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam veritatis odit, quod consequatur debitis dolore!</p>
                            <!-- tweet message end -->

                            <!-- tweet image start -->
                            <div class="py-3.5">
                                <img class="max-h-80 w-full object-cover object-center rounded-2xl border border-twitter-line hover:cursor-pointer" src="/images/ladygaga/67ed34300fa640c38cfc5d01d4d8cca3.jpg" alt="">
                            </div>
                            <!-- tweet image end -->

                            <!-- icons start -->
                            <div class="flex items-center justify-between text-twitter-light-grey lg:w-10/12">
                                <!-- comments start -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer stroke-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path fill="#474747" d="M12 2A10 10 0 0 0 2 12a9.89 9.89 0 0 0 2.26 6.33l-2 2a1 1 0 0 0-.21 1.09A1 1 0 0 0 3 22h9a10 10 0 0 0 0-20Zm0 18H5.41l.93-.93a1 1 0 0 0 0-1.41A8 8 0 1 1 12 20Z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- comments end -->

                                <!-- retweets start FIND NY!!!! -->
                                <div class="flex items-center gap-1 lg:gap-2 text-twitter-icons-green group hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 528 448"><path fill="#474747" d="m486 154l-30 21v-68q0-35-25-60.5T371 21H157q-35 0-60 25.5T72 107q0 9 6 15t15 6q10 0 16-6t6-15q0-18 12.5-30.5T157 64h214q17 0 29.5 12.5T413 107v66l-30-22q-19-11-29 7q-12 19 6 30l75 47l76-47q17-11 7-30q-15-15-32-4zm-51 102q-10 0-16 6t-6 15q0 18-12.5 30.5T371 320H157q-17 0-29.5-12.5T115 277v-66l30 22q2 0 6 1t6 1q8 0 17-9q12-19-6-30l-75-47l-76 47q-17 11-7 30q11 17 30 7l30-22v66q0 35 25 60.5t60 25.5h214q35 0 60-25.5t25-60.5q1-9-4.5-15t-14.5-6z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- retweets end -->

                                <!-- likes start FIND NY!!!! -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24"><path fill="none" stroke="#474747" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M7 3C4.239 3 2 5.216 2 7.95c0 2.207.875 7.445 9.488 12.74a.985.985 0 0 0 1.024 0C21.125 15.395 22 10.157 22 7.95C22 5.216 19.761 3 17 3s-5 3-5 3s-2.239-3-5-3Z"/></svg>                          
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- likes end -->

                                <!-- views start -->
                                <div class="flex items-center gap-1 lg:gap-2 hover:text-twitter-blue-original hover:cursor-pointer">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="#474747" d="M6 13H2c-.6 0-1 .4-1 1v8c0 .6.4 1 1 1h4c.6 0 1-.4 1-1v-8c0-.6-.4-1-1-1zm16-4h-4c-.6 0-1 .4-1 1v12c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V10c0-.6-.4-1-1-1zm-8-8h-4c-.6 0-1 .4-1 1v20c0 .6.4 1 1 1h4c.6 0 1-.4 1-1V2c0-.6-.4-1-1-1z"/></svg>
                                    <span id="sm_dark_txt" class="text-13 text-twitter-grey">123</span>                                              
                                </div>
                                <!-- views end -->

                                <!-- share start -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 24 24"><path fill="none" stroke="#474747" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 3v12m0-12L8 7m4-4l4 4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"/></svg>
                                <!-- share end -->
                            
                            </div>
                            <!-- icons end -->
                        </div>
                        <!-- right end -->
                    </div>
                </div>
                <!-- tweet end -->

            </div>
            <!-- middle end -->

            <!-- right start -->
            <div class="bg-twitter-icons-red col-span-1 text-center invisible md:invisible lg:visible lg:text-left px-6 pt-1">
                <div class="w-full bg-white sticky top-1">
                    <p>test 3</p>
                </div>
            </div>
            <!-- right end -->
        </div>
    </div>

</body>
</html>