<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- right start -->
    <div class="col-span-1 hidden lg:block pl-4 lg:pl-4 xl:pl-7 pt-1">
        <div class="w-350 sticky top-3">

            <!-- trends for you start -->
            <div class="border border-twitter-line w-full mt-2 rounded-xl px-4 py-2 pb-4 grid gap-2">
                <h2 id="" class="text-20 font-bold text-twitter-light-grey">New to Twitter?</h2>
                <div class="grid gap-3">
                    <p class="text-13 text-twitter-grey">Sign up now to get your own personalized timeline!</p>
                    
                    <button class="w-full py-2.25 md:px-4 bg-white rounded-full flex justify-center items-center gap-1 font-medium text-twitter-dark-grey text-opacity-80 text-14 hover:bg-twitter-light-grey hover:bg-opacity-90">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#DB4437" d="M12.222 5.977a5.402 5.402 0 0 1 3.823 1.496l2.868-2.868A9.61 9.61 0 0 0 12.222 2a9.996 9.996 0 0 0-8.937 5.51l3.341 2.59a5.96 5.96 0 0 1 5.596-4.123z" opacity=""/><path fill="#F4B400" d="M3.285 7.51a10.013 10.013 0 0 0 0 8.98l3.341-2.59a5.913 5.913 0 0 1 0-3.8l-3.34-2.59z"/><path fill="#0F9D58" d="M15.608 17.068A6.033 6.033 0 0 1 6.626 13.9l-3.34 2.59A9.996 9.996 0 0 0 12.221 22a9.547 9.547 0 0 0 6.618-2.423l-3.232-2.509z" opacity=""/><path fill="#4285F4" d="M21.64 10.182h-9.418v3.868h5.382a4.6 4.6 0 0 1-1.996 3.018l-.01.006l.01-.006l3.232 2.51a9.753 9.753 0 0 0 2.982-7.35c0-.687-.06-1.371-.182-2.046z" opacity=""/></svg>
                        Sign up with Google
                    </button>

                    <button class="w-full py-2.25 md:px-4 bg-white rounded-full flex justify-center items-center gap-1 font-bold text-twitter-dark-grey text-15 hover:bg-twitter-light-grey hover:bg-opacity-90">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="M17.05 20.28c-.98.95-2.05.8-3.08.35c-1.09-.46-2.09-.48-3.24 0c-1.44.62-2.2.44-3.06-.35C2.79 15.25 3.51 7.59 9.05 7.31c1.35.07 2.29.74 3.08.8c1.18-.24 2.31-.93 3.57-.84c1.51.12 2.65.72 3.4 1.8c-3.12 1.87-2.38 5.98.48 7.13c-.57 1.5-1.31 2.99-2.54 4.09l.01-.01zM12.03 7.25c-.15-2.23 1.66-4.07 3.74-4.25c.29 2.58-2.34 4.5-3.74 4.25z"/></svg> 
                        Sign up with Apple
                    </button>
                    
                    <button class="w-full py-2.25 md:px-4 bg-white rounded-full font-bold text-twitter-dark-grey text-15 hover:bg-twitter-light-grey hover:bg-opacity-90">Create account</button>
                    <p class="text-13 text-twitter-grey">By signing up, you agree to the <a class="text-twitter-blue hover:underline" href="">Terms of Service</a> and <a class="text-twitter-blue hover:underline" href="">Privacy Policy</a>, including <a class="text-twitter-blue hover:underline" href="">Cookie Use.</a></p>
                </div>
            </div>
            <!-- trends for you end -->

            <!-- policies start -->
            <div class="grid p-4 text-13 text-twitter-grey overscroll-none">
                <div class="row-span-1 flex gap-2">
                    <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">Terms of Service</p>
                    <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">Privacy Policy</p>
                    <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">Cookie Policy</p>
                </div>
                <div class="row-span-1 flex gap-2">
                    <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">Accessibility</p>
                    <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">Ads info</p>
                    <div class="flex items-center gap-1">
                        <p class="hover:underline hover:cursor-pointer transition duration-200 ease-in-out">More</p>
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-twitter-grey">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                        </svg> 
                    </div>
                </div>
                <div class="row-span-1 flex gap-2">
                    <p>@ 2023 Twitter, Inc</p>
                </div>
            </div>
            <!-- policies end -->
        </div>
    </div>
    <!-- right -->
</body>
</html>